
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p> lll </p>
<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">
<div class="panel-heading"> 
{{ Context.Snack.Data.Name }}
</div>
</div>
		<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">
			<div class="panel-heading"> {{ Context.Snack.Data.Description }}</div>
			<div class="panel-heading"> {{ Context.Snack.Data.Price }}</div>
			<div class="panel-heading"> {{ Context.Snack.Data.Nutrition_Info }}</div>
  			
		</div>
		
	
</html>