
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
	<title>Food World!</title>
</head>
<body style="background-color: #f2f2f2">
	<nav class="navbar navbar-default" style="background-color: #cef7f2">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://localhost:8000">Food World</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="#">Newest Foods</a></li>
	      <li><a href="#">Snack by Country</a></li>
	      <li><a href="#">User</a></li>
	    </ul>
  	</nav>
 {% if Context.Snack.Data.name != None %}
<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">

<div class="panel-heading"> 
{{ Context.Snack.Data.name }}
</div>
</div>
		<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">
			<div class="panel-heading"> Info: {{ Context.Snack.Data.description }}</div>
			<div class="panel-heading"> ${{Context.Snack.Data.price }}</div>
			<div class="panel-heading"> Nutrition info: {{ Context.Snack.Data.nutrition_info }}</div>
  			
		</div>
{% endif %}
		
	
</html>