<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
	<title>Food World!</title>
</head>
<body style="background-color: #f2f2f2">
	<nav class="navbar navbar-default" style="background-color: #cef7f2">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">Food World</a>
	    </div>
	    <ul class="nav navbar-nav">
	      	<li><a href="/">Home</a></li>
		      <li><a href="/snacks/sorted/">Snack by Country</a></li>
		      <li><a href="/create_snack/">Add Snack</a></li>
		      <li style="float: right;"><a href="/register/">Sign Up</a></li>
		      <li style="float: right; padding-left: 350px"><a href= "{{ url }}"> {{ status }}</a></li>
	      
	    </ul>
  	</nav>
		
	<p style="text-align: center;"> Food Just Went Global!</p>
	<p> {{ pk }} </p>
	
	<form method="post" style="float: left;" action = '/search/'> 
	     		<input style="float: left; width: 190px;" type="text" name="search" placeholder="Search for a Yummy Candy"> 
	     		<button type="submit" style="float: left; margin-left: 20px"> Submit</button>
	</form>  
	<br>
	<br>
	<div style="position: relative;">
		<p style="text-align: left; font-weight: bold;margin-left: 10px"> All Snacks</p>
		
		{% for snack in context.snacks.data %}
			<a href="/snacks/{{ snack.pk }}">
			<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">
			
				<div class="panel-heading"> {{ snack.name }}</div>
	  			<div class="panel-body"> {{ snack.description }}</div>
			</div>
			</a>
		{% endfor %}
		
	</div>

	<br>
	<p style="text-align: left; font-weight: bold;margin-left: 10px; float: left;top:160px; right: 340px;"> Meet Our Wonderful Users!</p>


	<div style="position: relative; top:50px; right: 535px;">

		{% for user in context.users.data %}
			

        	<div class="col" style="width: 95%">
			<div class="panel panel-warning" style="margin:0;float:right;" >
			
			
				<div class="panel-heading" style="width: 100%" > {{ user.first_name }} {{ user.last_name }}</div>
		
				

	  			 <div class="panel-body"> {{ user.email }}</div> 
	  			 

			</div>
			</div>

			
			</a>
		{% endfor %}
		
	</div>
</body>
</html>